# One-to-Many and Many-to-Many Joins - Lab

## Introduction

In this lab, you'll practice your knowledge on One-to-Many and Many-to-many relationships!

## Objectives

You will be able to:
- Query data including Many-to-Many relationships
- Write queries that make use of Join Tables

## One-to-Many and Many-to-Many Joins
<img src='Database-Schema.png' width=550>

## Employees and their Office (a One-to-One join)

Return a list of all of the employees with their first name, last name and the city and state of the office that they work out of (if they have one). Include all employees and order them by their first name, then their last name.

In [2]:
#Your code here

import sqlite3
import pandas as pd
conn = sqlite3.connect('data.sqlite', detect_types=sqlite3.PARSE_COLNAMES)
cur = conn.cursor()

In [5]:
cur.execute("""SELECT firstName, lastName, city, state
                      FROM offices
                      JOIN employees
                      USING(officeCode)
                      ORDER BY firstName, lastName
                      ;""")
#pd.DataFrame(cur.fetchall())

## Customers and their Orders (a One-to-Many join)

Return a list of all of the customers. For each customer return a record for each of their order numbers, order dates and statuses.

In [9]:
# Your code here
cur.execute("""SELECT customerName, orderNumber, 
                        orderDate, status
                        FROM customers
                        JOIN orders
                        USING(customerNumber)
                        ;""")
# pd.DataFrame(cur.fetchall())

df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
# df - works

## Orders and their Order Details (another One-to-Many join)

Return a list of orders. For each order return a record for each order detail within the order.

In [12]:
# Your code here
cur.execute("""SELECT orderNumber, shippedDate, productCode, quantityOrdered, priceEach, orderLineNumber 
                        FROM orders
                        JOIN orderDetails 
                        USING(orderNumber)
                        GROUP BY (orderNumber);""")
# pd.DataFrame(cur.fetchall())

df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
#df
#works

## Orders, Order details and Product Details (a Many-to-Many Join)

Return a list of the orders with the the order information, and allthe product information for each product in the order.

In [15]:
# Your code here

cur.execute("""SELECT orderNumber, shippedDate, productCode, quantityOrdered, priceEach, 
                        productName, productDescription, quantityInStock, 
                        buyPrice, MSRP
                        FROM orders
                        JOIN orderDetails 
                        USING (orderNumber)
                        JOIN products
                        USING (productCode)
                        GROUP BY (orderNumber);""")
# pd.DataFrame(cur.fetchall())

df = pd.DataFrame(cur.fetchall())
df.columns = [i[0] for i in cur.description]
df

,orderNumber,shippedDate,productCode,quantityOrdered,priceEach,productName,productDescription,quantityInStock,buyPrice,MSRP
0,10100,2003-01-10,S24_3969,49,35.29,1936 Mercedes Benz 500k Roadster,This model features grille-mounted chrome horn...,2081,21.75,41.03
1,10101,2003-01-11,S24_2022,46,44.35,1938 Cadillac V-16 Presidential Limousine,This 1:24 scale precision die cast replica of ...,2847,20.61,44.80
2,10102,2003-01-14,S18_1367,41,43.13,1936 Mercedes-Benz 500K Special Roadster,This 1:18 scale replica is constructed of heav...,8635,24.26,53.91
3,10103,2003-02-02,S700_2824,42,94.07,1982 Camaro Z28,Features include opening and closing doors. Co...,6934,46.53,101.15
4,10104,2003-02-01,S50_1514,32,53.31,1962 City of Detroit Streetcar,This streetcar is a joy to see. It has 99 sepa...,1645,37.49,58.58
5,10105,2003-02-12,S72_3212,25,44.77,Pont Yacht,Measures 38 inches Long x 33 3/4 inches High. ...,414,33.30,54.60
6,10106,2003-02-21,S72_1253,48,43.70,Boeing X-32A JSF,"10"" Wingspan with retractable landing gears.Co...",4857,32.77,49.66
7,10107,2003-02-26,S32_1374,20,88.90,1997 BMW F650 ST,Features official die-struck logos and baked e...,178,66.92,99.89
8,10108,2003-03-08,S50_4713,34,74.85,2002 Yamaha YZR M1,"Features rotating wheels , working kick stand....",600,34.17,81.36
9,10109,2003-03-11,S24_2972,29,32.10,1982 Lamborghini Diablo,"This replica features opening doors, superb de...",7723,16.24,37.76
10,10110,2003-03-20,S24_3969,48,35.29,1936 Mercedes Benz 500k Roadster,This model features grille-mounted chrome horn...,2081,21.75,41.03
11,10111,2003-03-30,S24_4258,26,85.70,1936 Chrysler Airflow,"Features opening trunk, working steering syst...",4710,57.46,97.39
12,10112,2003-03-29,S18_2949,23,85.10,1913 Ford Model T Speedster,This 250 part reproduction includes moving han...,4189,60.78,101.31
13,10113,2003-03-27,S32_3522,23,58.82,1996 Peterbilt 379 Stake Bed with Outrigger,"This model features, opening doors, detailed e...",814,33.61,64.64
14,10114,2003-04-02,S700_2824,42,82.94,1982 Camaro Z28,Features include opening and closing doors. Co...,6934,46.53,101.15
15,10115,2003-04-07,S50_1392,27,100.70,Diamond T620 Semi-Skirted Tanker,This limited edition model is licensed and per...,1016,68.29,115.75
16,10116,2003-04-13,S32_3207,27,60.28,1950's Chicago Surface Lines Streetcar,This streetcar is a joy to see. It has 80 sepa...,8601,26.72,62.14
17,10117,2003-04-17,S72_3212,50,52.42,Pont Yacht,Measures 38 inches Long x 33 3/4 inches High. ...,414,33.30,54.60
18,10118,2003-04-26,S700_3505,36,86.15,The Titanic,"Completed model measures 19 1/2 inches long, 9...",1956,51.09,100.17
19,10119,2003-05-02,S72_1253,28,40.22,Boeing X-32A JSF,"10"" Wingspan with retractable landing gears.Co...",4857,32.77,49.66
20,10120,2003-05-01,S700_3167,43,72.00,F/A 18 Hornet 1/72,"10"" Wingspan with retractable landing gears.Co...",551,54.40,80.00
21,10121,2003-05-13,S50_4713,44,72.41,2002 Yamaha YZR M1,"Features rotating wheels , working kick stand....",600,34.17,81.36
22,10122,2003-05-13,S32_2206,31,33.79,1982 Ducati 996 R,"Features rotating wheels , working kick stand....",9241,24.14,40.23
23,10123,2003-05-22,S24_1628,50,43.27,1966 Shelby Cobra 427 S/C,This diecast model of the 1966 Shelby Cobra 42...,8197,29.18,50.31
24,10124,2003-05-25,S24_3969,46,36.11,1936 Mercedes Benz 500k Roadster,This model features grille-mounted chrome horn...,2081,21.75,41.03
25,10125,2003-05-24,S18_2795,34,138.38,1928 Mercedes-Benz SSK,This 1:18 replica features grille-mounted chro...,548,72.56,168.75
26,10126,2003-06-02,S700_2824,45,97.10,1982 Camaro Z28,Features include opening and closing doors. Co...,6934,46.53,101.15
27,10127,2003-06-06,S50_1514,46,55.65,1962 City of Detroit Streetcar,This streetcar is a joy to see. It has 99 sepa...,1645,37.49,58.58
28,10128,2003-06-11,S700_1938,32,72.75,The Mayflower,Measures 31 1/2 inches Long x 25 1/2 inches Hi...,737,43.30,86.61
29,10129,2003-06-14,S72_3212,32,44.23,Pont Yacht,Measures 38 inches Long x 33 3/4 inches High. ...,414,33.30,54.60
...,...,...,...,...,...,...,...,...,...,...
296,10396,2005-03-28,S700_1138,39,62.00,The Schooner Bluenose,All wood with canvas sails. Measures 31 1/2 in...,1897,34.00,66.67
297,10397,2005-04-01,S72_3212,34,52.96,Pont Yacht,Measures 38 inches Long x 33 3/4 inches High. ...,414,33.30,54.60
298,10398,2005-03-31,S72_1253,34,41.22,Boeing X-32A JSF,"10"" Wingspan with retractable landing gears.Co...",4857,32.77,49.66
299,10399,2005-04-03,S32_1374,32,97.89,1997 BMW F650 ST,Features official die-struck logos and baked e...,178,66.92,99.89
300,10400,2005-04-04,S72_1253,20,41.71,Boeing X-32A JSF,"10"" Wingspan with retractable landing gears.Co...",4857,32.77,49.66
301,10401,,S700_4002,40,66.63,American Airlines: MD-11S,Polished finish. Exact replia with official lo...,8820,36.27,74.03
302,10402,2005-04-12,S24_2000,59,61.70,1960 BSA Gold Star DBD34,Detailed scale replica with working suspension...,15,37.32,76.17
303,10403,2005-04-11,S50_4713,31,65.09,2002 Yamaha YZR M1,"Features rotating wheels , working kick stand....",600,34.17,81.36
304,10404,2005-04-11,S24_4620,48,65.48,1961 Chevrolet Impala,This 1:18 scale precision die-cast reproductio...,7869,32.33,80.84
305,10405,2005-04-20,S24_3856,76,127.79,1956 Porsche 356A Coupe,Features include: Turnable front wheels; steer...,6600,98.30,140.43
306,10406,2005-04-21,S18_3685,65,117.26,1948 Porsche Type 356 Roadster,This model features working front and rear sus...,8990,62.16,141.28
307,10407,,S24_3432,43,101.73,2002 Chevy Corvette,The operating parts of this limited edition Di...,9446,62.11,107.08
308,10408,2005-04-27,S24_3969,15,41.03,1936 Mercedes Benz 500k Roadster,This model features grille-mounted chrome horn...,2081,21.75,41.03
309,10409,2005-04-24,S24_1937,61,27.88,1939 Chevrolet Deluxe Coupe,This 1:24 scale die-cast replica of the 1939 C...,7332,22.57,33.19
310,10410,2005-04-30,S24_4258,50,95.44,1936 Chrysler Airflow,"Features opening trunk, working steering syst...",4710,57.46,97.39
311,10411,2005-05-06,S700_2824,34,89.01,1982 Camaro Z28,Features include opening and closing doors. Co...,6934,46.53,101.15
312,10412,2005-05-05,S50_1392,26,105.33,Diamond T620 Semi-Skirted Tanker,This limited edition model is licensed and per...,1016,68.29,115.75
313,10413,2005-05-09,S50_1514,51,53.31,1962 City of Detroit Streetcar,This streetcar is a joy to see. It has 99 sepa...,1645,37.49,58.58
314,10414,,S72_3212,47,54.60,Pont Yacht,Measures 38 inches Long x 33 3/4 inches High. ...,414,33.30,54.60
315,10415,2005-05-12,S72_1253,42,43.20,Boeing X-32A JSF,"10"" Wingspan with retractable landing gears.Co...",4857,32.77,49.66
316,10416,2005-05-14,S700_4002,43,63.67,American Airlines: MD-11S,Polished finish. Exact replia with official lo...,8820,36.27,74.03
317,10417,2005-05-19,S24_1578,35,109.32,1997 BMW R 1100 S,Detailed scale replica with working suspension...,7003,60.86,112.70
318,10418,2005-05-20,S50_4713,40,72.41,2002 Yamaha YZR M1,"Features rotating wheels , working kick stand....",600,34.17,81.36
319,10419,2005-05-19,S24_3856,70,112.34,1956 Porsche 356A Coupe,Features include: Turnable front wheels; steer...,6600,98.30,140.43
320,10420,,S24_3969,15,35.29,1936 Mercedes Benz 500k Roadster,This model features grille-mounted chrome horn...,2081,21.75,41.03
321,10421,,S24_2022,40,44.80,1938 Cadillac V-16 Presidential Limousine,This 1:24 scale precision die cast replica of ...,2847,20.61,44.80
322,10422,,S18_1367,25,47.44,1936 Mercedes-Benz 500K Special Roadster,This 1:18 scale replica is constructed of heav...,8635,24.26,53.91
323,10423,,S24_4258,28,78.89,1936 Chrysler Airflow,"Features opening trunk, working steering syst...",4710,57.46,97.39
324,10424,,S700_2824,46,85.98,1982 Camaro Z28,Features include opening and closing doors. Co...,6934,46.53,101.15
325,10425,,S50_1392,18,94.92,Diamond T620 Semi-Skirted Tanker,This limited edition model is licensed and per...,1016,68.29,115.75

## Summary

In this lab, you practiced your knowledge on One-to-Many and Many-to-many relationships!